<!DOCTYPE html>
<html>
   <head>
      <title>Lost & Found Management</title>
      <link rel="icon" href="../../content/images/logonatin.png">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- css for nav bar -->
      <link href="../../content/custom/css/style.css" rel="stylesheet">
      <link href="../../content/custom/css/lostfound/lf_management.css" rel="stylesheet">
      <link href="../../content/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet">
      <link href="../../content/fontawesome/font-awesome.min.css" rel="stylesheet">
      <!-- end of css  -->
      <!-- your custom css -->
      <!-- end of your custom css -->
   </head>
   <body>
      <!-- navigation bar  -->
      <nav class="navbar navbar-findcond navbar-fixed-top" style="margin-bottom: 0;">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="col-lg-4 navbar-brand custom-brand" href="#" style="color: white;">
               <img class="schuler" src="../../content/images/logonatin.png" height="25" width="30" />
               </a>
               <a class="navbar-brand schulercolor" href="../Super Admin/super-admin-management.html">SchulerTrack</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Notifications <span class="badge">3</span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Teacher is not on class!</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Warning</span> 10 students are late in Grade v - Magalang.</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Mrs. Tanchoco teacher of Grade 3 - Matapat is not on...</a>
                        </li>
                        <li class="divider">|</li>
                        <li>
                           <a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> &nbsp&nbsp&nbspSee all notifications...</a>
                        </li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> My Account</a></li>
                        <li><a href="#"> <i class="fa fa-cog" aria-hidden="true"></i> Setting</a></li>
                        <li><a href="#exit"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- end of navigation bar -->
      <div class="container">
         <br>
         <br>
         <br>
         <ol class="breadcrumb" style="background-color: #D9EDF7">
            <li><i class="fa fa-home fa-2x" aria-hidden="true"></i> Home</li>
         </ol>
         <!-- your code start here -->
         <!-- Please observe indention -->
         <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
               <a href="Dashboard.html" >
                  <div class="hovereffect">
                    <img class="img-responsive" src="../../content/images/Super Admin/v5/dashboard.png" height="100" width="100" alt="">
                      <div class="overlay">
                        <h2>Dashboard</h2>
                        <p class="info">
                               Provides in-depth data analysis, organizes and presents information regarding lost and found items.
                        </p>
                      </div>
                  </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
               <a href="lostandfound_lostandfound.html" >
                  <div class="hovereffect">
                    <img class="img-responsive" src="../../content/images/lostandfoundsub.png" height="100" width="100" alt="">
                      <div class="overlay">
                        <h2>Lost & Found</h2>
                        <p class="info">
                               A list of all the lost and found items inside the school premises.
                        </p>
                      </div>
                  </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
               <a href="lostandfound_claimeditems.html" >
                  <div class="hovereffect">
                    <img class="img-responsive" src="../../content/images/claimeditems.png" height="100" width="100" alt="">
                      <div class="overlay">
                        <h2>Claimed Items</h2>
                        <p class="info">
                               A list of all items that has been claimed or soon to be claimed.
                        </p>
                      </div>
                  </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
               <a data-toggle="modal" data-target="#myModal">
                  <div class="hovereffect">
                    <img class="img-responsive" src="../../content/images/createreport.png" height="100" width="100" alt="">
                      <div class="overlay">
                        <h2>Create Report</h2>
                        <p class="info">
                               Create a report for a lost or found item.
                        </p>
                      </div>
                  </div>
                </a>
            </div>
         </div>
         <hr/>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>
               <div class="modal-body">
                  <div class="panel panel-custom">
                     <div class="panel-heading"><i class="fa fa-cubes"></i>&nbspAdd Report</div>
                     <div class="panel-body">
                        <div class="row">
                              <div class="col-md-3 col-lg-3">
                                 <figure>
                                    <img class="img-center" style="text-align: center; display: block; margin: auto;" src="../../content/images/principal1.png" id="imgAsset" width="150" height="150">
                                    <figcaption>
                                       <div class="btn btn-file">
                                          <input type="file" name="file" id="imgInp" class="required" style="width: 250px;">
                                       </div>
                                    </figcaption>
                                 </figure>    
                              </div>
                           <div class="col-md-9 col-lg-9">
                              <center>
                                 <h3>School Year 2016 - 2017</h3>
                              </center>
                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-t-b-xs">
                                 <label class="control-label" for="itemtype">Type of Report</label>
                                 <select id="reportType" name="reportType" class=" col-lg-12 form-control" data-style='btn-white'>
                                    <option value="Lost Item">Lost Item</option>
                                    <option value="Found Item">Found Item</option>
                                 </select>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-t-b-xs">
                                 <label class="control-label" for="itemType">Type of Item</label>
                                 <input class='required form-control' id='itemType' name='itemType' type='text'>
                              </div>
                              <div class='col-lg-12 m-t-b-xs'>
                                 <label class='control-label' for='itemDesc'>Item Description</label>
                                 <textarea class='required form-control' id='itemDesc' name='itemDesc' rows='6'></textarea>
                              </div>
                              <div class="" id="hideme1">
                                 <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-t-b-xs">
                                    <label class="control-label" for="placeFound">Place of Found</label>
                                    <div class="">
                                       <input class='required form-control' id='placeFound' name='placeFound' type='text'>
                                    </div>
                                 </div>
                                 <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 m-t-b-xs'>
                                    <label class='control-label' for='surrendedBy'>Surrended By</label>
                                    <div class=''>
                                       <input class='required form-control' id='surrendedBy' name='surrendedBy' type='text'>
                                    </div>
                                 </div>
                              </div>
                              <div class="" id="hideme2">
                                 <div class="col-lg-6 m-t-b-xs">
                                    <label class="control-label" for="placeLost">Place of Lost</label>
                                    <div class="">
                                       <input class='required form-control' id='placeLost' name='placeLost' type='text'>
                                    </div>
                                 </div>
                                 <div class='col-xs-12 col-sm-12 col-md-6 col-lg-6 m-t-b-xs'>
                                    <label class='control-label' for='reportedBy'>Reported By</label>
                                    <div class=''>
                                       <input class='required form-control' id='reportedBy' name='reportedBy' type='text'>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-t-b-xs">
                                 <label class="control-label">Date</label>
                                 <div class="">
                                    <input class='required form-control' type="date" name="onDuty" id="onDuty" value="Super Admin" >
                                 </div>
                              </div>
                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 m-t-b-xs">
                                 <label class="control-label">On Duty</label>
                                 <div class="">
                                    <input class='required form-control' type="text" name="onDuty" id="onDuty" value="Super Admin" readonly>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-info" >Save</button>
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!--end of modal-->   
      </div>
      <!-- end of your code -->
      <!-- footer here -->
      <footer class="navbar-fixed-bottom">
         <div class="container-fluid footer">
            <p class="pull-right powerby">&copy; 2016 - Powered by <a href="http://www.simplevia.com" class="quicktrackcolor">QuickTrack</a></p>
         </div>
      </footer>
      <!-- end foooter -->
      </div>
      <!-- plugin scripts -->
      <script src="../../content/jquery/dist/jquery.min.js"></script>
      <script src="../../content/jquery-ui/jquery-ui.min.js"></script>
      <script src="../../content/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="../../content/DataTables/js/jquery.dataTables.min.js"></script> 
      <script src="../../content/DataTables/js/datatables.bootstrap.js"></script>
      <script src="../../content/DataTables/js/dataTables.buttons.min.js"></script>
      <script src="../../content/DataTables/js/buttons.bootstrap.min.js"></script>
      <script src="../../content/DataTables/js/buttons.html5.min.js"></script>
      <script src="../../content/DataTables/js/buttons.print.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.fixedColumns.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.fixedHeader.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.keyTable.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.scroller.min.js"></script>
      <script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
      <script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>
      <!-- end of plugin scripts -->
      <!-- your custom script -->
      <script type="text/javascript">
         $('#hideme1').hide();
         $('#reportType').change(function(){
            if($(this).val() == "Lost Item"){
               $('#hideme1').hide();
               $('#hideme2').show();
            }else{
               $('#hideme1').show();
               $('#hideme2').hide();
            }
         })
      </script>
      <!-- end of your custom script -->
   </body>
</html>