.super-panel {
    width: 260px;
    text-align: center;
    border: 1px solid black;
}

.super-panel-lg {
    width: 310px;
    height: 110px;
    border: 1px solid #44A5C9;
    border-radius: 4px;
    margin-bottom: 20px !important;
}


.pagetitle {
    width: 205px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.spr-label {
    font-family: Helvetica;
    font-size: 20px;
    color: #000033;
}

.center {
    margin: 0 auto;
}

@media screen and (max-width: 320px){
    .super-panel-lg {
        width: 290px !important;
    }
    .pagetitle {
        width: 190px !important;
    }
}
