<!DOCTYPE html>
<html>
   <head>
      <title>Online Exam Management</title>
      <link rel="icon" href="../../content/images/logonatin.png">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- css for nav bar -->
      <link href="../../content/custom/css/style.css" rel="stylesheet">
      <link href="../../Content/datatables.net/css/jquery.dataTables.min.css" rel="stylesheet" />
      <link href="../../content/fontawesome/font-awesome.min.css" rel="stylesheet">
     <link href="../../content/custom/css/online exam/onlineexam.css" rel="stylesheet">
      <!-- end of css  -->
      <!-- your custom css -->
      <!-- end of your custom css -->
   </head>
   <body>
      <!-- navigation bar  -->
      <nav class="navbar navbar-findcond navbar-fixed-top" style="margin-bottom: 0;">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="col-lg-4 navbar-brand custom-brand" href="#" style="color: white;">
               <img class="schuler" src="../../content/images/logonatin.png" height="25" width="30" />
               </a>
               <a class="navbar-brand schulercolor" href="../Super Admin/super-admin-management.html">SchulerTrack</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Notifications <span class="badge">3</span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Teacher is not on class!</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Warning</span> 10 students are late in Grade v - Magalang.</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Mrs. Tanchoco teacher of Grade 3 - Matapat is not on...</a>
                        </li>
                        <li class="divider">|</li>
                           <li>
                                  <a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> &nbsp&nbsp&nbspSee all notifications...</a>
                           </li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Setting</a></li>
                        <li><a href="#exit">Logout</a></li>
                     </ul>
                  </li>
               </ul>
               <form class="navbar-form navbar-right search-form" role="search">
                  <input type="text" class="form-control" placeholder="Search" />
               </form>
            </div>
         </div>
      </nav>
      <!-- end of navigation bar -->
      <div class="container" >
         <br>
         <br>
         <div class="page-header" style="color: #000033">
            <h2><strong>English Exam</strong></h2>
         </div>
         <!-- your code start here -->
         <!-- Please observe indention -->
         <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
               <div class="container-fluid question-panel">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <h4>Question 1. What is your answer to my question?</h4>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <form id="q1">
                        <input  type="radio" name="q1"> A. No idea at all.</input><br/>
                        <input  type="radio" name="q1"> B. A and B.</input><br/>
                        <input  type="radio" name="q1"> C. All of the above.</input><br/>
                        <input  type="radio" name="q1"> D. None of the above.</input>
                     </form>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
               <div class="container-fluid question-panel">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <h4>Question 2. What is your answer to my question?</h4>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <form id="q2">
                        <input  type="radio" name="q2"> A. No idea at all.</input><br/>
                        <input  type="radio" name="q2"> B. A and B.</input><br/>
                        <input  type="radio" name="q2"> C. All of the above.</input><br/>
                        <input  type="radio" name="q2"> D. None of the above.</input>
                     </form>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
               <div class="container-fluid question-panel">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <h4>Question 3. What is your answer to my question?</h4>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <form id="q3">
                        <input  type="radio" name="q3"> A. No idea at all.</input><br/>
                        <input  type="radio" name="q3"> B. A and B.</input><br/>
                        <input  type="radio" name="q3"> C. All of the above.</input><br/>
                        <input  type="radio" name="q3"> D. None of the above.</input>
                     </form>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
               <div class="container-fluid question-panel">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <h4>Question 4. What is your answer to my question?</h4>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <form id="q4">
                        <input  type="radio" name="q4"> A. No idea at all.</input><br/>
                        <input  type="radio" name="q4"> B. A and B.</input><br/>
                        <input  type="radio" name="q4"> C. All of the above.</input><br/>
                        <input  type="radio" name="q4"> D. None of the above.</input>
                     </form>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
               <div class="container-fluid question-panel">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <h4>Question 5. What is your answer to my question?</h4>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <form id="q5">
                        <input  type="radio" name="q5"> A. No idea at all.</input><br/>
                        <input  type="radio" name="q5"> B. A and B.</input><br/>
                        <input  type="radio" name="q5"> C. All of the above.</input><br/>
                        <input  type="radio" name="q5"> D. None of the above.</input>
                     </form>
                  </div>
               </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
               <div class="container-fluid question-panel">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <h4>Question 6. What is your answer to my question?</h4>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                     <form id="q6">
                        <input  type="radio" name="q6"> A. No idea at all.</input><br/>
                        <input  type="radio" name="q6"> B. A and B.</input><br/>
                        <input  type="radio" name="q6"> C. All of the above.</input><br/>
                        <input  type="radio" name="q6"> D. None of the above.</input>
                     </form>
                  </div>
               </div>
            </div>

             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <button class="btn btn-success">Submit Answers</button>
             </div>
               
         </div>
         <!-- end of your code -->
         <!-- footer here -->
         <hr />
         <footer class="navbar-fixed-bottom">
            <div class="container-fluid" style="background-color: #35AC49;">
               <p class="pull-right " style="padding-top: .5%; padding-right: 3%; font-size: 10px; font-weight: bolder; color: #000033;">&copy; 2016 - Powered by <a href="http://www.simplevia.com" style="color: #fff;">QuickTrack</a></p>
            </div>
         </footer>
         <!-- end foooter -->
      </div>
      <!-- plugin scripts -->
      <script src="../../content/jquery/dist/jquery.min.js"></script>
      <script src="../../content/jquery-ui/jquery-ui.min.js"></script>
      <script src="../../content/datatables.net/js/jquery.dataTables.min.js"></script> 

      <script src="../../content/bootstrap/dist/js/bootstrap.min.js"></script>
      
      <script src="../../content/datatables.net/js/datatables.bootstrap.js"></script>
      <script src="../../content/datatables.net/js/dataTables.buttons.min.js"></script>

      <script src="../../content/datatables.net/js/buttons.bootstrap.min.js"></script>
      <script src="../../content/datatables.net/js/buttons.html5.min.js"></script>
      <script src="../../content/datatables.net/js/buttons.print.min.js"></script>

      <script src="../../content/datatables.net/js/dataTables.fixedColumns.min.js"></script>
      <script src="../../content/datatables.net/js/dataTables.fixedHeader.min.js"></script>
      <script src="../../content/datatables.net/js/dataTables.keyTable.min.js"></script>
      <script src="../../content/datatables.net/js/dataTables.scroller.min.js"></script>


      <script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
      <script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>
      <!-- end of plugin scripts -->
      <!-- your custom script -->
      <!-- end of your custom script -->
   </body>
</html>