@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

nav.navbar-findcond { background: #fff; border-color: #35ac49; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #f14444; }
nav.navbar-findcond ul.navbar-nav a { color: #35ac49; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #35ac49; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #35ac49; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #35ac49; color: #fff; }
nav.navbar-findcond span.badge { background: #35ac49; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

.no-padding{
	padding: 0px !important;
}

body p, body span, body label, body a, body h1, body h2, body h3, body h4, body h5, body h6, body a {
    font-family: 'Montserrat' !important;
}
label{
	font-weight: normal !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: lighter !important;
}

/*Table Design*/
.panel-custom {
 border-color: #2ca33f !important;
}

.panel-custom > .panel-heading {
 color: #fff !important;
 background-color: #1284ad !important;
 border-color: #ccefcc !important;
}
/*End Table Design*/

/*button Responsive*/
/*@media screen and (max-width: 320px){
	.btn-responsive {
	    width: 290px !important;
	}
	.griditem {
	    width: 290px !important;
	}
}*/

.pagetitle {
	text-decoration: none !important;
}

.tooltip > .tooltip-inner {
    background-color: #2c6b84;
    font-size: 12px;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #DDF6E8;
}
.dataTable thead {
	background-color: rgba(255, 0, 0, 0.4);
	opacity: 
}
.dataTable th {
	font;color: #fff;
	font-weight: normal;
}
