<!DOCTYPE html>
<html>
   <head>
      <title>Library Management</title>
      <link rel="icon" href="../../content/images/logonatin.png">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- css for nav bar -->
      <link href="../../content/custom/css/style.css" rel="stylesheet">
      <link href="../../content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet">

      <link href="../../content/fontawesome/font-awesome.min.css" rel="stylesheet">
      <!-- end of css  -->
      <!-- your custom css -->
      <!-- end of your custom css -->
   </head>
   <style type="text/css">
      .dataTables_length {
       margin-bottom: 15px;
       margin-top: 5px;
      }
   </style>
   <body>
      <!-- navigation bar  -->
      <nav class="navbar navbar-findcond navbar-fixed-top" style="margin-bottom: 0;">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="col-lg-4 navbar-brand custom-brand" href="#" style="color: white;">
               <img class="schuler" src="../../content/images/logonatin.png" height="25" width="30" />
               </a>
               <a class="navbar-brand schulercolor" href="../Super Admin/super-admin-management.html">SchulerTrack</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Notifications <span class="badge">3</span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Teacher is not on class!</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Warning</span> 10 students are late in Grade v - Magalang.</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Mrs. Tanchoco teacher of Grade 3 - Matapat is not on...</a>
                        </li>
                        <li class="divider">|</li>
                           <li>
                                  <a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> &nbsp&nbsp&nbspSee all notifications...</a>
                           </li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> My Account</a></li>
                     <li><a href="#"> <i class="fa fa-cog" aria-hidden="true"></i> Setting</a></li>
                     <li><a href="#exit"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- end of navigation bar -->
      <div class="container" >
         <br>
         <br>
         <div class="page-header" style="color: #000033"><h2><strong>Library Management</strong></h2></div>
           <ol class="breadcrumb" style="background-color: #D9EDF7">
               <li><a href="library-management.html"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Home</a></li>
               <li>List of Borowed &amp; Reserved Material</li>
           </ol>
         <!-- your code start here -->
         <!-- Please observe indention -->
         <div class="row">
            <div class="col-lg-12">
               <ul class="nav nav-pills nav-tabs tabs">
                  <li class="active tab">
                     <a href="#home-1" data-toggle="tab" aria-expanded="false">
                     <!-- <span class="visible-xs"><i class="fa fa-home"></i></span>
                     <span class="hidden-xs">Borrowed Materials  </span> -->
                     <label>Available Materials</label>
                     </a>
                  </li>
                  <li class="tab">
                     <a href="#home-2" data-toggle="tab" aria-expanded="false">
                     <!-- <span class="visible-xs"><i class="fa fa-home"></i></span>
                     <span class="hidden-xs">Borrowed Materials  </span> -->
                     <label>Borrowed Materials</label>
                     </a>
                  </li>
                  <li class="tab">
                     <a href="#home-3" data-toggle="tab" aria-expanded="false">
                     <!-- <span class="visible-xs"><i class="fa fa-user"></i></span>
                     <span class="hidden-xs">Reserved Materials</span> -->
                     <label>Reserved Materials</label>
                     </a>
                  </li>
               </ul>
               <div class="tab-content">
                  <div class="tab-pane fade-in active" id="home-1">
                     <div class="panel panel-custom">
                        <div class="panel-heading" style="font-size: 20px; font-weight: 350;"><i class="fa fa-book fa-lg"></i> Available Material List</div>
                        <div class="panel-body"> 
                           <div class="tab-content">
                              <div class="row">
                              <div class="col-sm-8">
                                 <div class="form-group contact-search m-b-30">
                                    <input type="text" id="search" class="form-control" style="height: 40px; margin-top: 7px;" placeholder="Search...">
                                 </div>
                              </div>
                              <div class="col-sm-4">
                              </div>
                           </div>
                           <div class="table-responsive">
                              <table class="display nowrap table table-striped table-hover" id="myTable1">
                                 <thead>
                                    <tr>
                                       <th>No.</th>
                                       <th >Material Name</th>
                                       <th >Material Type</th>
                                       <th >Date Issued</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td></td>
                                       <td>Tabloids</td>
                                       <td>Newspaper</td>
                                       <td>2017/09/01</td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td>The Monkey and Turtle</td>
                                       <td>Fiction</td>
                                       <td>2017/09/01</td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td>Algebra I Workbook</td>
                                       <td>Book</td>
                                       <td>2017/09/01</td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td>American Psychological Association</td>
                                       <td>Reference Book</td>
                                       <td>2017/09/01</td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td>Trade Publications</td>
                                       <td>Publications</td>
                                       <td>2017/09/01</td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td>Sports</td>
                                       <td>Magazine</td>
                                       <td>2017/09/01</td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td>Literature</td>
                                       <td>Books of Fiction</td>
                                       <td>2017/09/25</td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td>Narrative</td>
                                       <td>Dissertations and Thesis</td>
                                       <td>2017/09/25</td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td>Committee Reports</td>
                                       <td>Government Documents</td>
                                       <td>2017/09/25</td>
                                    </tr>
                                    <tr>
                                       <td></td>
                                       <td>Mathematics</td>
                                       <td>Book</td>
                                       <td>2017/09/01</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade-in" id="home-2">
                     <div class="panel panel-custom">
                        <div class="panel-heading" style="font-size: 20px; font-weight: 350;"><i class="fa fa-book fa-lg"></i> Borrowed Material List</div>
                        <div class="panel-body"> 
                           <div class="tab-content">
                              <div class="row">
                              <div class="col-sm-8">
                                 <div class="form-group contact-search m-b-30">
                                    <input type="text" id="search" class="form-control" style="height: 40px; margin-top: 7px;" placeholder="Search...">
                                 </div>
                              </div>
                              <div class="col-sm-4">
                              </div>
                           </div>
                           <div class="table-responsive">
                              <table class="display nowrap table table-striped table-hover" id="myTable2">
                                 <thead>
                                    <tr>
                                       <th style="max-width: 95px;"> </th>
                                       <th >Returning Code</th>
                                       <th >Lender Type</th>
                                       <th >Material Type</th>
                                       <th >Material Name</th>
                                       <th >Date Borrowed</th>
                                       <th >Returning Date</th>
                                       <th >Days / Lapse</th>
                                       <th >Fine</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr class="">
                                       <td></td>
                                       <td>908325790243</td>
                                       <td>Teacher</td>
                                       <td>Newspaper</td>
                                       <td>Tabloids</td>
                                       <td>2017/09/01</td>
                                       <td>2017/09/03</td>
                                       <td>0</td>
                                       <td>&#8369; 0</td>
                                    </tr>
                                    <tr class="">
                                       <td></td>
                                       <td>228017855243</td>
                                       <td>Student</td>
                                       <td>Fiction</td>
                                       <td>The Monkey and Turtle</td>
                                       <td>2017/09/01</td>
                                       <td>2017/10/01</td>
                                       <td>25</td>
                                       <td>&#8369; 100</td>
                                    </tr>
                                    <tr class="">
                                       <td></td>
                                       <td>662583100766</td>
                                       <td>Student</td>
                                       <td>Book</td>
                                       <td>Algebra I Workbook</td>
                                       <td>2017/11/01</td>
                                       <td>2017/11/01</td>
                                       <td>0</td>
                                       <td>&#8369; 0</td>
                                    </tr>
                                    <tr class="">
                                       <td></td>
                                       <td>421125790260</td>
                                       <td>Staff</td>
                                       <td>Reference Book</td>
                                       <td>American Psychological Association</td>
                                       <td>2017/11/05</td>
                                       <td>2017/11/07</td>
                                       <td>0</td>
                                       <td>&#8369; 0</td>
                                    </tr>
                                    <tr class="">
                                       <td></td>
                                       <td>078315794441</td>
                                       <td>Teacher</td>
                                       <td>Publications</td>
                                       <td>Trade Publications</td>
                                       <td>2017/12/01</td>
                                       <td>2017/12/02</td>
                                       <td>0</td>
                                       <td>&#8369; 0</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tab-pane fade-in " id="home-3">
                     <div class="panel panel-custom">
                        <div class="panel-heading" style="font-size: 20px; font-weight: 350;"><i class="fa fa-book fa-lg"></i> Reserved Material List</div>
                        <div class="panel-body"> 
                           <div class="tab-content">
                              <div class="row">
                              <div class="col-sm-8">
                                 <div class="form-group contact-search m-b-30">
                                    <input type="text" id="search1" class="form-control" style="height: 40px; margin-top: 7px;" placeholder="Search...">
                                 </div>
                              </div>
                              <div class="col-sm-4">
                              </div>
                           </div>
                           <div class="table-responsive">
                              <table class="display nowrap table table-striped table-hover" id="myTable3">
                                 <thead>
                                    <tr>
                                       <th  style="max-width: 95px;"> </th>
                                       <th >Reserver's ID</th>
                                       <th >Reserver's Type</th>
                                       <th >Material Reserved</th>
                                       <th >Material Name</th>
                                       <th >Date Reserved</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr class="">
                                       <td></td>
                                       <td>310925790253</td>
                                       <td>Student</td>
                                       <td>Book</td>
                                       <td>Mathematics</td>
                                       <td>2017/09/19</td>
                                    </tr>
                                    <tr class="">
                                       <td></td>
                                       <td>790092231535</td>
                                       <td>Student</td>
                                       <td>Fiction</td>
                                       <td>The Monkey & Turtle</td>
                                       <td>2017/10/03</td>
                                    </tr><tr class="">
                                       <td></td>
                                       <td>229039351570</td>
                                       <td>Teacher</td>
                                       <td>Reference Book</td>
                                       <td>American Psychological Association</td>
                                       <td>2017/10/03</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      <!-- end of your code -->
      <!-- footer here -->
      <hr />
      <footer class="navbar-fixed-bottom">
         <div class="container-fluid footer">
            <p class="pull-right powerby">&copy; 2016 - Powered by <a href="http://www.simplevia.com" class="quicktrackcolor">QuickTrack</a></p>
         </div>
      </footer>
      <!-- end foooter -->
      </div>
      <!-- plugin scripts -->
      <script src="../../content/jquery/dist/jquery.min.js"></script>
      <script src="../../content/jquery-ui/jquery-ui.min.js"></script>
      <script src="../../content/bootstrap/dist/js/bootstrap.min.js"></script>

      <script src="../../content/DataTables/js/jquery.dataTables.min.js"></script> 
      <script src="../../content/DataTables/js/dataTables.bootstrap.js"></script>
      <script src="../../content/DataTables/js/dataTables.buttons.min.js"></script>
      <script src="../../content/DataTables/js/buttons.bootstrap.min.js"></script>
      <script src="../../content/DataTables/js/buttons.html5.min.js"></script>
      <script src="../../content/DataTables/js/buttons.print.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.fixedColumns.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.fixedHeader.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.keyTable.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.scroller.min.js"></script>

      <script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
      <script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>
      <!-- end of plugin scripts -->
      <!-- your custom script -->
      <script type="text/javascript">
         $(document).ready(function(){
           var oTable = $('#myTable1,#myTable2,#myTable3').DataTable({
             "orderCellsTop": false,
             "searchHighlight" : true,
           });
           $('#search').keyup(function(){
                 oTable.search($(this).val()).draw() ;
           });
           $(".dataTables_filter").hide();
           oTable.on('order.dt search.dt', function(){
             oTable.column(0, {search:'applied', order:'applied'}).nodes().each(
              function (cell, i) {
               cell.innerHTML = i+1;
               } );
           }).draw();
         });
      </script>
      <!-- end of your custom script -->
   </body>
</html>