<!DOCTYPE html>
<html>
   <head>
      <title>Teacher Management</title>
      <link rel="icon" href="../../content/images/logonatin.png">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="../../content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet">
      <!-- css for nav bar -->
      <link href="../../content/custom/css/style.css" rel="stylesheet"> 
      <link href="../../content/fontawesome/font-awesome.min.css" rel="stylesheet">
      <!-- end of css  -->
      <!-- your custom css -->
      <!-- end of your custom css -->
   </head>
   <style type="text/css">
      .dataTables_length {
       margin-bottom: 15px;
       margin-top: 5px;
      }

      .add-ls-tbl div{
         margin-bottom: 5px;
      }
      td, th {
         text-align: center;
      }
   </style>
   <body>
      <!-- navigation bar  -->
      <nav class="navbar navbar-findcond navbar-fixed-top" style="margin-bottom: 0;">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="col-lg-4 navbar-brand custom-brand" href="#" style="color: white;">
               <img class="schuler" src="../../content/images/logonatin.png" height="25" width="30" />
               </a>
               <a class="navbar-brand schulercolor" href="../Super Admin/super-admin-management.html">SchulerTrack</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Notifications <span class="badge">3</span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Teacher is not on class!</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Warning</span> 10 students are late in Grade v - Magalang.</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Mrs. Tanchoco teacher of Grade 3 - Matapat is not on...</a>
                        </li>
                        <li class="divider">|</li>
                           <li>
                                  <a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> &nbsp&nbsp&nbspSee all notifications...</a>
                           </li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> My Account</a></li>
                     <li><a href="#"> <i class="fa fa-cog" aria-hidden="true"></i> Setting</a></li>
                     <li><a href="#exit"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                     </ul>
                  </li>
               </ul>
              
            </div>
         </div>
      </nav>
      <!-- end of navigation bar -->
      <div class="container" >
         <br>
         <br>
         <div class="page-header" style="color: #000033"><h2><strong>Teacher Management</strong></h2></div>
         <ol class="breadcrumb" style="background-color: #D9EDF7">
           <li><a href="teacher-management.html"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Home</a></li>
           <li>Lesson Plan</li>
         </ol>
         <!-- your code start here -->
         <!-- Please observe indention -->

         <div class="row">
            <div class="col-lg-12">
               <div class="panel panel-custom">
                  <div class="panel-heading" style="font-size: 20px; font-weight: 350;"><i class="fa fa-pencil-square-o fa-lg"></i> Lesson Plan List</div>
                     <div class="panel-body"> 
                        <div class="row">
                           <div class="col-sm-8">
                              <div class="form-group contact-search m-b-30">
                                 <input type="text" id="search" class="form-control" style="height: 40px; margin-top: 7px;" placeholder="Search...">
                              </div>
                           </div>
                              <div class="col-sm-4">
                                 <button type="button" class="btn btn-info" style="height: 40px; margin-top: 7px;" data-toggle="modal" data-target="#addModal" >Add Lesson Plan</button>
                           </div>
                        </div>
                        <form class="table-responsive">
                           <table id="myTable" class="display nowrap table table-hover display" cellspacing="0" width="100%">
                              <thead>
                                 <tr>
                                    <th style="width: 5%; text-align: center;">Quarter</th>
                                    <th  style="width: 10%; text-align: center;">Date</th>
                                    <th  style="width: 10%; text-align: center;">Subject</th>
                                    <th  style="width: 10%; text-align: center;">Grade Level</th>
                                    <th  style="width: 20%; text-align: center;">Topic</th>
                                    <th  style="width: 20%; text-align: center;">Title</th>
                                    <th  style="width: 10%; text-align: center;">Lesson Duration</th>
                                    <th  style="width: 30%;"></th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td>1</td>
                                    <td>1-1-2017</td>
                                    <td>English</td>
                                    <td>1</td>
                                    <td>Part of Speech</td>
                                    <td>The Part of Speech</td>
                                    <td>2h</td>
                                    <td>
                                       <button type="button" class="btn btn-info btn-xs center-block" data-toggle="modal" data-target="#editModal" style="width: 60px;">Edit</button>
                                       <button type="button" class="btn btn-danger btn-xs center-block" data-toggle="modal" data-target="#deleteModal"  style="width: 60px;">Delete</button>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>1-1-2017</td>
                                    <td>English</td>
                                    <td>1</td>
                                    <td>Part of Speech</td>
                                    <td>The Part of Speech</td>
                                    <td>2h</td>
                                    <td>
                                       <button type="button" class="btn btn-info btn-xs center-block" data-toggle="modal" data-target="#editModal" style="width: 60px;">Edit</button>
                                       <button type="button" class="btn btn-danger btn-xs center-block" data-toggle="modal" data-target="#deleteModal" style="width: 60px;">Delete</button>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>1-1-2017</td>
                                    <td>English</td>
                                    <td>1</td>
                                    <td>Part of Speech</td>
                                    <td>The Part of Speech</td>
                                    <td>2h</td>
                                    <td>
                                       <button type="button" class="btn btn-info btn-xs center-block" data-toggle="modal" data-target="#editModal" style="width: 60px;">Edit</button>
                                       <button type="button" class="btn btn-danger btn-xs center-block" data-toggle="modal" data-target="#deleteModal" style="width: 60px;">Delete</button>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>1-1-2017</td>
                                    <td>English</td>
                                    <td>1</td>
                                    <td>Part of Speech</td>
                                    <td>The Part of Speech</td>
                                    <td>2h</td>
                                    <td>
                                       <button type="button" class="btn btn-info btn-xs center-block" data-toggle="modal" data-target="#editModal" style="width: 60px;">Edit</button>
                                       <button type="button" class="btn btn-danger btn-xs center-block" data-toggle="modal" data-target="#deleteModal" style="width: 60px;">Delete</button>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>1-1-2017</td>
                                    <td>English</td>
                                    <td>1</td>
                                    <td>Part of Speech</td>
                                    <td>The Part of Speech</td>
                                    <td>2h</td>
                                    <td>
                                       <button type="button" class="btn btn-info btn-xs center-block" data-toggle="modal" data-target="#editModal" style="width: 60px;">Edit</button>
                                       <button type="button" class="btn btn-danger btn-xs center-block" data-toggle="modal" data-target="#deleteModal" style="width: 60px;">Delete</button>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>1-1-2017</td>
                                    <td>English</td>
                                    <td>1</td>
                                    <td>Part of Speech</td>
                                    <td>The Part of Speech</td>
                                    <td>2h</td>
                                    <td>
                                       <button type="button" class="btn btn-info btn-xs center-block" data-toggle="modal" data-target="#editModal" style="width: 60px;">Edit</button>
                                       <button type="button" class="btn btn-danger btn-xs center-block" data-toggle="modal" data-target="#deleteModal" style="width: 60px;">Delete</button>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>1-1-2017</td>
                                    <td>English</td>
                                    <td>1</td>
                                    <td>Part of Speech</td>
                                    <td>The Part of Speech</td>
                                    <td>2h</td>
                                    <td>
                                       <button type="button" class="btn btn-info btn-xs center-block" data-toggle="modal" data-target="#editModal" style="width: 60px;">Edit</button>
                                       <button type="button" class="btn btn-danger btn-xs center-block" data-toggle="modal" data-target="#deleteModal" style="width: 60px;">Delete</button>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>1-1-2017</td>
                                    <td>English</td>
                                    <td>1</td>
                                    <td>Part of Speech</td>
                                    <td>The Part of Speech</td>
                                    <td>2h</td>
                                    <td>
                                       <button type="button" class="btn btn-info btn-xs center-block" data-toggle="modal" data-target="#editModal" style="width: 60px;">Edit</button>
                                       <button type="button" class="btn btn-danger btn-xs center-block" data-toggle="modal" data-target="#deleteModal" style="width: 60px;">Delete</button>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>1-1-2017</td>
                                    <td>English</td>
                                    <td>1</td>
                                    <td>Part of Speech</td>
                                    <td>The Part of Speech</td>
                                    <td>2h</td>
                                    <td>
                                       <button type="button" class="btn btn-info btn-xs center-block" data-toggle="modal" data-target="#editModal" style="width: 60px;">Edit</button>
                                       <button type="button" class="btn btn-danger btn-xs center-block" data-toggle="modal" data-target="#deleteModal" style="width: 60px;">Delete</button>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>1</td>
                                    <td>1-1-2017</td>
                                    <td>English</td>
                                    <td>1</td>
                                    <td>Part of Speech</td>
                                    <td>The Part of Speech</td>
                                    <td>2h</td>
                                    <td>
                                       <button type="button" class="btn btn-info btn-xs center-block" data-toggle="modal" data-target="#editModal" style="width: 60px;">Edit</button>
                                       <button type="button" class="btn btn-danger btn-xs center-block" data-toggle="modal" data-target="#deleteModal" style="width: 60px;">Delete</button>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </form>
                     </div>

                  <!-- Modal Add -->
                  <div class="modal fade" id="addModal" role="dialog">
                     <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Lesson Plan</h4>
                           </div>
                           <div class="modal-body">
                              <div class="card-box">
                                 <div class="row ">
                                    <div class="col-lg-12"> 
                                       <div class="panel panel-custom">
                                          <div class="panel-heading" style="font-size: 20px; font-weight: 350;"><i class="fa fa-pencil-square-o fa-lg"></i>Add Lesson Plan</div>
                                             <div class="panel-body"> 
                                                <div class="row add-ls-tbl">
                                                    <div class="col-lg-3 col-md-3">Date of Lesson Plan:</div>
                                                    <div class="col-lg-3 col-md-3"><input style="width: 100%;" class="form-control" type="date" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Time:</div>
                                                    <div class="col-lg-3 col-md-3"><input style="width: 100%;" class="form-control" type="time" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Subject:</div>
                                                    <div class="col-lg-3 col-md-3"><input style="width: 100%;" class="form-control" type="text" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Quarter:</div>
                                                    <div class="col-lg-3 col-md-3"><input style="width: 100%;" class="form-control" type="text" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Topic:</div>
                                                    <div class="col-lg-9 col-md-9"><input style="width: 100%;" class="form-control" type="text" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Title:</div>
                                                    <div class="col-lg-9 col-md-9"><input style="width: 100%;" class="form-control" type="text" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Grade Level:</div>
                                                    <div class="col-lg-3 col-md-3"><input style="width: 100%;" class="form-control" type="text" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Lesson Duration:</div>
                                                    <div class="col-lg-3 col-md-3"><input style="width: 100%;" class="form-control" type="text" name=""></div>
                                                    <div class="col-lg-12 col-md-12">Lesson Objective:</div>
                                                    <div class="col-lg-12 col-md-12"><textarea style="width: 100%; height: 100%; resize: none;" class="form-control"></textarea></div>
                                                    <div class="col-lg-6 col-md-6">Materials / Equipment:<br/><textarea style="width: 100%; height: 100%; resize: none;" class="form-control"></textarea></div>
                                                    <div class="col-lg-6 col-md-6">References:<br/><textarea style="width: 100%; height: 100%; resize: none;" class="form-control"></textarea></div>
                                                    <div class="col-lg-6 col-md-6">Take Home Tasks:<br/><textarea style="width: 100%; height: 100%; resize: none;" class="form-control"></textarea></div>
                                                    <div class="col-lg-6 col-md-6">Notes:<br/><textarea style="width: 100%; height: 100%; resize: none;" class="form-control"></textarea></div>
                                                </div>
                                             </div>
                                       </div>      
                                    </div>
                                 </div>
                                 <!-- End of Row-->
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div><!--end of modal--> 

                  <!-- Modal Edit -->
                  <div class="modal fade" id="editModal" role="dialog">
                     <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Lesson Plan</h4>
                           </div>
                           <div class="modal-body">
                              <div class="card-box">
                                 <div class="row">
                                  
                                    <div class="col-lg-12">
                                 <div class="panel panel-custom">
                                          <div class="panel-heading" style="font-size: 20px; font-weight: 350;"><i class="fa fa-pencil-square-o fa-lg"></i>Edit Lesson Plan</div>
                                             <div class="panel-body"> 
                                                <div class="row add-ls-tbl">
                                                    <div class="col-lg-3 col-md-3">Date of Lesson Plan:</div>
                                                    <div class="col-lg-3 col-md-3"><input style="width: 100%;" class="form-control" type="date" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Time:</div>
                                                    <div class="col-lg-3 col-md-3"><input style="width: 100%;" class="form-control" type="time" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Subject:</div>
                                                    <div class="col-lg-3 col-md-3"><input style="width: 100%;" class="form-control" type="text" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Quarter:</div>
                                                    <div class="col-lg-3 col-md-3"><input style="width: 100%;" class="form-control" type="text" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Topic:</div>
                                                    <div class="col-lg-9 col-md-9"><input style="width: 100%;" class="form-control" type="text" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Title:</div>
                                                    <div class="col-lg-9 col-md-9"><input style="width: 100%;" class="form-control" type="text" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Grade Level:</div>
                                                    <div class="col-lg-3 col-md-3"><input style="width: 100%;" class="form-control" type="text" name=""></div>
                                                    <div class="col-lg-3 col-md-3">Lesson Duration:</div>
                                                    <div class="col-lg-3 col-md-3"><input style="width: 100%;" class="form-control" type="text" name=""></div>
                                                    <div class="col-lg-12 col-md-12">Lesson Objective:</div>
                                                    <div class="col-lg-12 col-md-12"><textarea style="width: 100%; height: 100%; resize: none;" class="form-control"></textarea></div>
                                                    <div class="col-lg-6 col-md-6">Materials / Equipment:<br><textarea style="width: 100%; height: 100%; resize: none;" class="form-control"></textarea></div>
                                                    <div class="col-lg-6 col-md-6">References:<br><textarea style="width: 100%; height: 100%; resize: none;" class="form-control"></textarea></div>
                                                    <div class="col-lg-6 col-md-6">Take Home Tasks:<br><textarea style="width: 100%; height: 100%; resize: none;" class="form-control"></textarea></div>
                                                    <div class="col-lg-6 col-md-6">Notes:<br><textarea style="width: 100%; height: 100%; resize: none;" class="form-control"></textarea></div>
                                                </div>
                                             </div>
                                       </div>
                                    </div>

                                 </div>
                                 <!-- End of Row-->
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-success" data-dismiss="modal">Update</button>
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div><!--end of modal-->   
                  <!-- Modal Delete -->
                  <div class="modal fade" id="deleteModal" role="dialog">
                     <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                           <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Delete Lesson</h4>
                           </div>
                           <div class="modal-body">
                              <div class="card-box">
                                 <div class="row">
                                  
                                    <div class="col-lg-12">
                                       <div class="row">
                                          <div class="col-lg-12">
                                             <h3 style="text-align: center;"><strong>Are you sure you want to delete Lesson Plan?</strong></h3><br/>
                                             </div>
                                             <div class="col-lg-12">
                                             <center> 
                                             <button type="button" class="btn btn-warning" data-dismiss="modal">Delete</button>
                                             <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                             </center>  
                                          </div>
                                       </div>
                                    </div>

                                 </div>
                                 <!-- End of Row-->
                              </div>                 
                           </div>
                        </div>
                     </div>
                  </div><!--end of modal-->   
               </div>
            </div>
         </div>
         
         <hr />
      <!-- end of your code -->
      <!-- footer here -->
 
      <footer class="navbar-fixed-bottom">
         <div class="container-fluid footer">
            <p class="pull-right powerby">&copy; 2016 - Powered by <a href="http://www.simplevia.com" class="quicktrackcolor">QuickTrack</a></p>
         </div>
      </footer>
      <!-- end foooter -->
      </div>
      <!-- plugin scripts -->
      <script src="../../content/jquery/dist/jquery.min.js"></script>
      <script src="../../content/jquery-ui/jquery-ui.min.js"></script>
      
      <script src="../../content/jquery/dist/jquery.min.js"></script>
      <script src="../../content/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="../../content/DataTables/js/jquery.dataTables.min.js"></script> 
      <script src="../../content/DataTables/js/dataTables.bootstrap.js"></script>
      <script src="../../content/DataTables/js/dataTables.buttons.min.js"></script>
      <script src="../../content/DataTables/js/buttons.bootstrap.min.js"></script>
      <script src="../../content/DataTables/js/buttons.html5.min.js"></script>
      <script src="../../content/DataTables/js/buttons.print.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.fixedColumns.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.fixedHeader.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.keyTable.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.scroller.min.js"></script>


      <script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
      <script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>
      <!-- end of plugin scripts -->
      <!-- your custom script -->
      <script type="text/javascript">
         $(document).ready(function(){
           var oTable = $('#myTable').DataTable({
             "orderCellsTop": false,
             "searchHighlight" : true,
           });
           $('#search').keyup(function(){
                 oTable.search($(this).val()).draw() ;
           });
           $(".dataTables_filter").hide();
           oTable.on('order.dt search.dt', function(){
             oTable.column(0, {search:'applied', order:'applied'}).nodes().each(
              function (cell, i) {
               cell.innerHTML = i+1;
               } );
           }).draw();
         });
    </script>
      <script>
         $('#custom-table2').DataTable({
             scrollY: 300,
             paging: false,
             searching: false
         });
      </script>
      <!-- end of your custom script -->
   </body>
</html>