<style type="text/css">
.dataTables_length {
 margin-bottom: 15px;
 margin-top: 5px;
}
</style>

<div class="panel-heading" style="font-size: 20px; font-weight: 350;"><i class="fa fa-users fa-lg"></i> Active Visitor List

<input type="text" id="search" class="form-control" style="height: 40px; margin-top: 7px;" placeholder="Search...">




style="color: #000000;"




style="height: 40px; margin-top: 7px; color: #000000;"









.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #cce3ff;
}
thead {
	background-color: #84ace0;
}



background-color: #84ace0;


user image fa-user-o
object image fa-futbol-o
car image fa-car
money image fa-usd
group image fa-users
search image fa-search
medkit image fa-medkit
shield image fa-shield
document image fa-file


rgba(255, 0, 0, 0.4)