<!DOCTYPE html>
<html>
   <head>
      <title>Security Management</title>
      <link rel="icon" href="../../content/images/logonatin.png">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="../../content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet">

      <!-- css for nav bar -->
      <link href="../../content/custom/css/style.css" rel="stylesheet"> 
      <link href="../../content/fontawesome/font-awesome.min.css" rel="stylesheet">
      <!-- end of css  -->
      <!-- your custom css -->
      <!-- end of your custom css -->
   </head>
   <style>
   .dataTables_length {
    margin-bottom: 10px;
    margin-top: 10px;
   }
   td, th {
      text-align: center;
   }
   </style>
   <body>
      <!-- navigation bar  -->
      <nav class="navbar navbar-findcond navbar-fixed-top" style="margin-bottom: 0;">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="col-lg-4 navbar-brand custom-brand" href="#" style="color: white;">
               <img class="schuler" src="../../content/images/logonatin.png" height="25" width="30" />
               </a>
               <a class="navbar-brand schulercolor" href="../Super Admin/super-admin-management.html">SchulerTrack</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Notifications <span class="badge">3</span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Teacher is not on class!</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Warning</span> 10 students are late in Grade v - Magalang.</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Mrs. Tanchoco teacher of Grade 3 - Matapat is not on...</a>
                        </li>
                        <li class="divider">|</li>
                           <li>
                                  <a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> &nbsp&nbsp&nbspSee all notifications...</a>
                           </li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> My Account</a></li>
                     <li><a href="#"> <i class="fa fa-cog" aria-hidden="true"></i> Setting</a></li>
                     <li><a href="#exit"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                     </ul>
                  </li>
               </ul>
               
            </div>
         </div>
      </nav>
      <!-- end of navigation bar -->
      <div class="container" >
         <br>
         <br>
         <div class="page-header" style="color: #000033"><h2><strong>Security Management</strong></h2></div>
            <ol class="breadcrumb" style="background-color: #D9EDF7">
              <li><a href="security-management.html"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Home</a></li>
              <li>Visitor History</li>
            </ol>
      <!-- your code start here -->
      <!-- Please observe indention -->
      <div class="panel panel-custom">
         <div class="panel-heading" style="font-size: 20px; font-weight: 350;"><i class="fa fa-shield fa-lg"></i> Visitor List
         </div>
            <div class="panel-body"> 
               <div class="row" style="margin-bottom: 10px;">
                  <div class="col-lg-6">
                     <div class="form-group contact-search m-b-30">
                        <input type="text" id="search" class="form-control" style="height: 40px; margin-top: 7px;" placeholder="Search...">
                     </div>
                  </div>
               </div>
               <div class="table-responsive">
                   <table id="myTable" class="display nowrap table table-striped table-hover">
                     <thead>
                        <tr>
                           <th style="max-width: 95px;">ID No.</th>
                           <th style="max-width: 95px;">Visitor Image</th>
                           <th >Visitor Type</th>
                           <th >Name</th>
                           <th >Reason</th>
                           <th >Date-In</th>
                           <th >Date-Out</th>
                           <th >Time-in</th>
                           <th >Time-Out</th>
                           <th >Guard On Duty</th>

                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>1</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Parent</td>
                           <td>Maria Aquino</td>
                           <td>Parents Conference</td>
                           <td>2017/09/21</td>
                           <td>2017/09/21</td>
                           <td>11:00AM</td>
                           <td>1:00PM</td>
                           <td>Mr. Arnold Dimagiba</td>
                       </tr>
                       <tr>
                           <td>2</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Delivery</td>
                           <td>John Gonzales</td>
                           <td>Delivery</td>
                           <td>2017/09/21</td>
                           <td>2017/09/21</td>
                           <td>8:00AM</td>
                           <td>4:00PM</td>
                           <td>Mr. Lorenz Santos</td>
                       </tr>
                       <tr>
                           <td>3</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Police</td>
                           <td>  Renato Bartolome</td>
                           <td>Classroom Inspection</td>
                           <td>2017/09/25</td>
                           <td>2017/09/25</td>
                           <td>1:00PM</td>
                           <td>3:00PM</td>
                           <td>Mr. Joel Aranniego</td>
                       </tr>
                       <tr>
                           <td>4</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Contractor</td>
                           <td>Abiano Sernaro</td>
                           <td>Building Inspection</td>
                           <td>2017/10/1</td>
                           <td>2017/10/3</td>
                           <td>4:00pM</td>
                           <td>4:00PM</td>
                           <td>Mr. Aljon Conghe</td>
                       </tr>
                       <tr>
                           <td>5</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Researcher</td>
                           <td>Jessa A. Manite</td>
                           <td>For project purposes</td>
                           <td>2017/10/21</td>
                           <td>2017/10/22</td>
                           <td>7:00AM</td>
                           <td>3:00PM</td>
                           <td>Mr. John Paul Fernandez</td>
                       </tr>
                       <tr>
                           <td>6</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Associate Staff</td>
                           <td>Abiel Elamparo</td>
                           <td>For Business Talks</td>
                           <td>2017/11/2</td>
                           <td>2017/11/2</td>
                           <td>7:30AM</td>
                           <td>5:00PM</td>
                           <td>Mr. Benjamin Gapasin</td>
                       </tr>
                       <tr>
                           <td>7</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Teacher</td>
                           <td>Angelliza Salamanca</td>
                           <td>Practice Teacher</td>
                           <td>2017/11/21</td>
                           <td>2017/11/21</td>
                           <td>7:00AM</td>
                           <td>4:00PM</td>
                           <td>Mr. Salvador Dela Cruz</td>
                       </tr>
                       <tr>
                           <td>8</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Accountant</td>
                           <td>Gracia Pineda</td>
                           <td>For Financial Reaseon</td>
                           <td>2017/12/23</td>
                           <td>2017/12/23</td>
                           <td>11:00AM</td>
                           <td>3:00PM</td>
                           <td>Mr. Calisto Ferrer</td>
                       </tr>

                        <tr>
                           <td>1</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Parent</td>
                           <td>Josephine Reyes</td>
                           <td>Parents Conference</td>
                           <td>2018/01/12</td>
                           <td>2018/01/12</td>
                           <td>11:00AM</td>
                           <td>1:00PM</td>
                           <td>Mr. Arnold Dimagiba</td>
                       </tr>
                       <tr>
                           <td>2</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Delivery</td>
                           <td>John Gonzales</td>
                           <td>Delivery</td>
                           <td>2018/01/21</td>
                           <td>2018/01/21</td>
                           <td>8:00AM</td>
                           <td>4:00PM</td>
                           <td>Mr. Lorenz Santos</td>
                       </tr>
                       <tr>
                           <td>3</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Police</td>
                           <td>  Renato Bartolome</td>
                           <td>Classroom Inspection</td>
                           <td>2018/02/25</td>
                           <td>2018/02/25</td>
                           <td>1:00PM</td>
                           <td>3:00PM</td>
                           <td>Mr. Joel Aranniego</td>
                       </tr>
                       <tr>
                           <td>4</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Contractor</td>
                           <td>Abiano Sernaro</td>
                           <td>Building Inspection</td>
                           <td>2018/03/1</td>
                           <td>2018/03/3</td>
                           <td>4:00pM</td>
                           <td>4:00PM</td>
                           <td>Mr. Aljon Conghe</td>
                       </tr>
                       <tr>
                           <td>5</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Researcher</td>
                           <td>Jessa A. Manite</td>
                           <td>For project purposes</td>
                           <td>2018/03/21</td>
                           <td>2018/03/22</td>
                           <td>7:00AM</td>
                           <td>3:00PM</td>
                           <td>Mr. John Paul Fernandez</td>
                       </tr>
                       <tr>
                           <td>6</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Associate Staff</td>
                           <td>Abiel Elamparo</td>
                           <td>For Business Talks</td>
                           <td>2018/03/02</td>
                           <td>2018/03/02</td>
                           <td>7:30AM</td>
                           <td>5:00PM</td>
                           <td>Mr. Benjamin Gapasin</td>
                       </tr>
                       <tr>
                           <td>7</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Teacher</td>
                           <td>Angelliza Salamanca</td>
                           <td>Practice Teacher</td>
                           <td>2018/03/21</td>
                           <td>2018/03/21</td>
                           <td>7:00AM</td>
                           <td>4:00PM</td>
                           <td>Mr. Salvador Dela Cruz</td>
                       </tr>
                       <tr>
                           <td>8</td>
                           <td><center><img src="../../content/images/principal1.png" height="25"></center> </td>
                           <td>Accountant</td>
                           <td>Gracia Pineda</td>
                           <td>For Financial Reaseon</td>
                           <td>2018/03/23</td>
                           <td>2018/03/23</td>
                           <td>11:00AM</td>
                           <td>3:00PM</td>
                           <td>Mr. Calisto Ferrer</td>
                       </tr>
                     </tbody>
              </table>
               </div>
            </div>
      </div>

      <!-- end of your code -->
      <!-- footer here -->
      <hr />
      <footer class="navbar-fixed-bottom">
         <div class="container-fluid footer">
            <p class="pull-right powerby">&copy; 2016 - Powered by <a href="http://www.simplevia.com" class="quicktrackcolor">QuickTrack</a></p>
         </div>
      </footer>
      <!-- end foooter -->
      </div>

      <!-- Modal -->
   <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-lg">
         <!-- Modal content-->
         <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Visiting Form</h4>
           </div>
            <div class="row" style="padding-top: 15px;">
               <div class="col-lg-12">
                  <div class="col-lg-4 form-group">
                     <div class="panel panel-default">
                        <div class="row">
                           <img style="display:block; margin-left:auto; margin-right:auto" class="img-circle " title="contact-img" alt="contact-img" src="http://iconshow.me/media/images/ui/ios7-icons/png/512/person_1.png" height="300px" width="300px">
                        </div>
                        <div class="row clearfix form-group">
                           <div class="col-lg-12" align="center">
                              <input style="align-self: center;" class="form-control col-lg-6" disabled="disabled" placeholder="" type="text">
                              <span class="group-span-filestyle input-group-btn" tabindex="0">
                                 <label class="btn btn-white" for="">
                                    <span class="icon-span-filestyle glyphicon glyphicon-folder-open"></span>
                                    <span class="buttonText">Choose file</span>
                                 </label>
                              </span>                    
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-8">
                     <div class="panel panel-default">
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="col-lg-12 clearfix">
                                 <h3 class="pull-left">SY: 2015 - 2016</h3>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="col-lg-6">
                                 <label class="control-label">Type of Visitor</label>
                                    <div class="clearfix form-group">
                                       <select class="form-control col-lg-12" data-style="btn-white" type="text" name="visitorType" id="visitorType" tabindex="-98">
                                          <option hidden="">--Select--</option>
                                          <option>Parent</option>
                                          <option>Guardian</option>
                                          <option>Supplier</option>
                                          <option>Staff Relative</option>
                                          <option>Others</option>
                                       </select>
                                    </div>
                              </div>  
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="col-lg-4 clearfix form-group">
                                 <label class="control-label">Last Name</label>
                                    <input class="required form-control" type="text" name="lastname" id="lastname">
                              </div>
                              <div class="col-lg-4 clearfix form-group">
                                 <label class="control-label">First Name</label>
                                    <input class="required form-control" type="text" name="firstname" id="firstname">
                              </div>
                              <div class="col-lg-4 clearfix form-group">
                                 <label class="control-label">Middle Name</label>
                                    <input class="required form-control" type="text" name="middlename" id="middlename">
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="col-lg-12 clearfix form-group">
                                 <label class="control-label">Notes (Person Visited and Describe the purpose of visit)</label>
                                    <textarea class="required form-control" id="purpose" name="purpose" rows="3"></textarea>
                              </div>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-lg-12">
                              <div class="col-lg-6">
                                 <label class="control-label" for="upload">Upload a Valid ID</label>
                                    <span class="btn btn-file">
                                       <input id="input-b1" name="input-b1" type="file" class="file">
                                    </span>
                              </div>
                              <div class="col-lg-6 clearfix form-group">
                               <label class="control-label">Guard Issued Entry</label>
                                 <input class="required form-control" type="text" name="guard" id="guard" value="Bravo, Antonio" readonly="">
                              </div>
                           </div>
                         </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-info" data-dismiss="modal">Submit</button>
            </div>
         </div>
      </div>
   </div>

      <!-- plugin scripts -->
      <script src="../../content/jquery/dist/jquery.min.js"></script>
      <script src="../../content/jquery-ui/jquery-ui.min.js"></script>
      <script src="../../content/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- DataTable Link -->
      <script src="../../content/DataTables/js/jquery.dataTables.min.js"></script> 
      <script src="../../content/DataTables/js/dataTables.bootstrap.js"></script>
      <script src="../../content/DataTables/js/dataTables.buttons.min.js"></script>
      <script src="../../content/DataTables/js/buttons.bootstrap.min.js"></script>
      <script src="../../content/DataTables/js/buttons.html5.min.js"></script>
      <script src="../../content/DataTables/js/buttons.print.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.fixedColumns.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.fixedHeader.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.keyTable.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.scroller.min.js"></script>
      <!-- End of LInk -->
      <script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
      <script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>
      <!-- end of plugin scripts -->
      <!-- your custom script -->
      <script type="text/javascript">
         $(document).ready(function(){
           var oTable = $('#myTable').DataTable({
             "orderCellsTop": false,
             "searchHighlight" : true,
             "ordering": false,
           });
           $('#search').keyup(function(){
                 oTable.search($(this).val()).draw() ;
           });
           $(".dataTables_filter").hide();
           oTable.on('order.dt search.dt', function(){
             oTable.column(0, {search:'applied', order:'applied'}).nodes().each(
              function (cell, i) {
               cell.innerHTML = i+1;
               } );
           }).draw();
         });
      </script>
      <!-- end of your custom script -->
      </body>
      </html>