<!DOCTYPE html>
<html>
<head>
	<title>Finance Management</title>
    <link rel="icon" href="../../content/images/logonatin.png">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../../content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../content/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<!-- css for nav bar -->
	<link href="../../content/custom/css/style.css" rel="stylesheet">
    <link href="../../content/fontawesome/font-awesome.min.css" rel="stylesheet">
	<!-- end of css  -->
	<!-- your custom css -->

	<!-- end of your custom css -->
</head>
<body>
	<!-- navigation bar  -->
	<nav class="navbar navbar-findcond navbar-fixed-top" style="margin-bottom: 0;">
	    <div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                 <a class="col-lg-4 navbar-brand custom-brand" href="#" style="color: white;">
                    <img class="schuler" src="../../content/images/logonatin.png" height="25" width="30" />
                </a>
				<a class="navbar-brand schulercolor" href="../Super Admin/super-admin-management.html">SchulerTrack</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Notifications <span class="badge">3</span></a>
						<ul class="dropdown-menu" role="menu">
							<li>
								<a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Teacher is not on class!</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Warning</span> 10 students are late in Grade v - Magalang.</a>
							</li>
							<li>
								<a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Mrs. Tanchoco teacher of Grade 3 - Matapat is not on...</a>
							</li>
                            <li class="divider">|</li>
                           <li>
                                  <a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> &nbsp&nbsp&nbspSee all notifications...</a>
                           </li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> My Account</a></li>
                     <li><a href="#"> <i class="fa fa-cog" aria-hidden="true"></i> Setting</a></li>
                     <li><a href="#exit"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
				
			</div>
		</div>
	</nav>
	<!-- end of navigation bar -->
	<div class="container" > 
		<br>
		<br>
		<div class="page-header" style="color: #000033"><h2><strong>Finance Management</strong></h2></div>
        <ol class="breadcrumb" style="background-color: #D9EDF7">
          <li><a href="finance-management.html"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Home</a></li>
          <li><a href="fin-bir-rev-com.html">Bureau of Internal Revenue Compliance</a></li>
          <li>Book of Accounts</li>
        </ol> 
	<!-- your code start here -->
	<!-- Please observe indention -->

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="bir-boa-general-journal.html"> 
                <div class="hovereffect">
                    <img class="img-responsive" src="../../content/images/library.png" height="100" width="100" alt="">
                    <div class="overlay">
                       <h2>General Journal</h2>
                        <p class="info">
                            General records of events or business.
                        </p>  
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="bir-boa-general-ledger.html">  
                <div class="hovereffect">
                    <img class="img-responsive" src="../../content/images/library.png" height="100" width="100" alt="">
                    <div class="overlay">
                       <h2>General Ledger</h2>
                        <p class="info">
                            General record of transactions by date.
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="bir-boa-cash-receipt-journal.html">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../content/images/library.png" height="100" width="100" alt="">
                    <div class="overlay">
                       <h2>Cash Receipt Journal</h2>
                        <p class="info">
                            Record of every important reciepts received.
                        </p>
                    </div> 
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="bir-boa-cash-disbursement-journal.html">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../content/images/library.png" height="100" width="100" alt="">
                    <div class="overlay">
                       <h2>Cash Disbursement Journal</h2>
                        <p class="info">
                            Record of every cash disbursment made by employees or staffs.
                        </p>
                    </div>
                </div>
            </a>  
        </div>


        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="bir-boa-sale-journal.html">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../content/images/library.png" height="100" width="100" alt="">
                    <div class="overlay">
                       <h2>Sale Journal</h2>
                        <p class="info">
                            Record of sales made by the school.
                        </p>
                    </div>   
                </div>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a href="bir-boa-purchase-journal.html">
                <div class="hovereffect">
                    <img class="img-responsive" src="../../content/images/library.png" height="100" width="100" alt="">
                    <div class="overlay">
                       <h2>Purchase Journal</h2>
                        <p class="info">
                            Record of every purchase made by the school.
                        </p>
                    </div>
                </div>
            </a>  
        </div>

    </div>

	<!-- end of your code -->
	<!-- footer here -->
	 <hr />
        <footer class="navbar-fixed-bottom">
            <div class="container-fluid footer">
                <p class="pull-right powerby">&copy; 2016 - Powered by <a href="http://www.simplevia.com" class="quicktrackcolor">QuickTrack</a></p>
            </div>
        </footer>
	<!-- end foooter -->
	</div>

	<!-- plugin scripts -->
	<script src="../../content/jquery/dist/jquery.min.js"></script>
	<script src="../../content/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../content/DataTables/js/jquery.dataTables.min.js"></script> 
    <script src="../../content/DataTables/js/datatables.bootstrap.js"></script>
    <script src="../../content/DataTables/js/dataTables.buttons.min.js"></script>
    <script src="../../content/DataTables/js/buttons.bootstrap.min.js"></script>
    <script src="../../content/DataTables/js/buttons.html5.min.js"></script>
    <script src="../../content/DataTables/js/buttons.print.min.js"></script>
    <script src="../../content/DataTables/js/dataTables.fixedColumns.min.js"></script>
    <script src="../../content/DataTables/js/dataTables.fixedHeader.min.js"></script>
    <script src="../../content/DataTables/js/dataTables.keyTable.min.js"></script>
    <script src="../../content/DataTables/js/dataTables.scroller.min.js"></script>
    <script src="../../content/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
	<script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>
	<!-- end of plugin scripts -->
	<!-- your custom script -->

	<!-- end of your custom script -->
</body>
</html>