<!DOCTYPE html>
<html>
   <head>
      <title>Dashboard</title>
      <link rel="icon" href="../../content/images/logonatin.png">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="../../content/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet">
      <!-- css for nav bar -->
      <link href="../../content/custom/css/style.css" rel="stylesheet">
      <link href="../../content/fontawesome/font-awesome.min.css" rel="stylesheet">
      <link href="../../content/dashboards/bootstrap dashboard/bsdashboard.css" rel="stylesheet">
      <!-- end of css  -->
      <!-- your custom css -->
      <!-- end of your custom css -->
   </head>
   <style>

   </style>
   <body>
      <!-- navigation bar  -->
      <nav class="navbar navbar-findcond navbar-fixed-top" style="margin-bottom: 0;">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="col-lg-4 navbar-brand custom-brand" href="#" style="color: white;">
               <img class="schuler" src="../../content/images/logonatin.png" height="25" width="30" />
               </a>
               <a class="navbar-brand schulercolor" href="../Super Admin/super-admin-management.html">SchulerTrack</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Notifications <span class="badge">3</span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Teacher is not on class!</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Warning</span> 10 students are late in Grade v - Magalang.</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Mrs. Tanchoco teacher of Grade 3 - Matapat is not on...</a>
                        </li>
                        <li class="divider">|</li>
                        <li>
                           <a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> &nbsp&nbsp&nbspSee all notifications...</a>
                        </li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> My Account</a></li>
                        <li><a href="#"> <i class="fa fa-cog" aria-hidden="true"></i> Setting</a></li>
                        <li><a href="#exit"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- end of navigation bar -->
      <div class="container" >
         <br>
         <br>
         <div class="page-header" style="color: #000033">
            <h2><strong>Finance Management</strong></h2>
         </div>
         <ol class="breadcrumb" style="background-color: #D9EDF7">
            <li><a href="finance-management.html"><i class="fa fa-home fa-2x" aria-hidden="true"></i> Home</a></li>
            <li>Dashboard</li>
         </ol>
         <section>
            <!-- your code start here -->
            <!-- Please observe indention -->
            <div class="col-lg-12">
               <div class="container-2">
                  <div id="page-wrapper">
                     <div class="row" >
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                           <div class="circle-tile">
                              <a href="#">
                                 <div class="circle-tile-heading blue db-container">
                                    <i class="fa fa-tachometer fa-fw fa-3x"></i>
                                 </div>
                              </a>
                              <div class="circle-tile-content blue db-container">
                                 <div class="circle-tile-description text-faded">
                                    Margin Profit
                                 </div>
                                 <div class="circle-tile-number text-faded">
                                    44%
                                    <span id="sparklineA"></span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                           <div class="circle-tile">
                              <a href="#">
                                 <div class="circle-tile-heading green db-container">
                                    <i class="fa fa-money fa-fw fa-3x"></i>
                                 </div>
                              </a>
                              <div class="circle-tile-content green db-container">
                                 <div class="circle-tile-description text-faded">
                                    Gross Sale
                                 </div>
                                 <div class="circle-tile-number text-faded">
                                    $76,454
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                           <div class="circle-tile">
                              <a href="#">
                                 <div class="circle-tile-heading orange db-container">
                                    <i class="fa fa-money fa-fw fa-3x"></i>
                                 </div>
                              </a>
                              <div class="circle-tile-content orange db-container">
                                 <div class="circle-tile-description text-faded">
                                    Profit
                                 </div>
                                 <div class="circle-tile-number text-faded">
                                    $22,321
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                           <div class="circle-tile">
                              <a href="#">
                                 <div class="circle-tile-heading red db-container">
                                    <i class="fa fa-money fa-fw fa-3x"></i>
                                 </div>
                              </a>
                              <div class="circle-tile-content red db-container">
                                 <div class="circle-tile-description text-faded">
                                    Cost
                                 </div>
                                 <div class="circle-tile-number text-faded">
                                    $10,522
                                    <span id="sparklineC"></span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- page-wrapper END-->
               </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
               <div class="panel panel-custom">
                    <div class="panel-heading">
                      <i class="fa fa-sort"></i>
                      <label>Gross Sale over the Year</label>                    
                    </div>
                    <div class="db-container" style="position: relative; width:auto;">
                      <canvas id="myChartbar" ></canvas>
                   </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-custom">
                    <div class="panel-heading">
                      <i class="fa fa-mars-stroke"></i>
                      <label>Profit Margin</label>                    
                    </div>
                    <div class="db-container" style="position: relative; width:auto;">
                      <canvas id="myChartpie" height="215px"></canvas>
                   </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="panel panel-custom">
                    <div class="panel-heading">
                      <i class="fa fa-balance-scale"></i>
                      <label>Sales and Profit Comparison</label>                    
                    </div>
                    <div class="db-container" style="position: relative; width:auto;">
                      <canvas id="myChartline"></canvas>
                   </div>
                </div>
            </div>
            <!-- end of your code -->
            <!-- footer here -->
         </section>
         <footer class="navbar-fixed-bottom">
            <div class="container-fluid footer">
               <p class="pull-right powerby">&copy; 2016 - Powered by <a href="http://www.simplevia.com" class="quicktrackcolor">QuickTrack</a></p>
            </div>
         </footer>
         <!-- end foooter -->
      </div>
      <!-- plugin scripts -->
      <script src="../../content/jquery/dist/jquery.min.js"></script>
      <script src="../../content/jquery-ui/jquery-ui.min.js"></script>
      <script src="../../content/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- DataTable Link -->
      <script src="../../content/DataTables/js/jquery.dataTables.min.js"></script> 
      <script src="../../content/DataTables/js/datatables.bootstrap.js"></script>
      <script src="../../content/DataTables/js/dataTables.buttons.min.js"></script>
      <script src="../../content/DataTables/js/buttons.bootstrap.min.js"></script>
      <script src="../../content/DataTables/js/buttons.html5.min.js"></script>
      <script src="../../content/DataTables/js/buttons.print.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.fixedColumns.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.fixedHeader.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.keyTable.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.scroller.min.js"></script>
      <!-- End of LInk -->
      <script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
      <script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
      <!-- end of plugin scripts -->
      <!-- your custom script -->
      <script>
         var ctxbar = $("#myChartbar");
         var ctxline = $("#myChartline");
         var ctxpie = $("#myChartpie");
         
         var myChartbar = new Chart(ctxbar, {
             type: 'bar',
             data: {
                 labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                 datasets: [{
                     data: [24425, 25464, 30434, 28545, 35232,
                             23213, 53241, 74342, 45821, 64421,
                             76454, 64635],
                     backgroundColor: [
                         '#ff0000','#ff8000','#ffff00','#80ff00', '#00ff00', '#00ff80',
                         '#00ffff','#0080FF','#0000ff','#8000ff', '#ff00ff', '#ff0080',
                         '#f0f0f0','#FF8080'
                     ],
                     borderColor: [
                         '#ff0000','#ff8000','#ffff00','#80ff00', '#00ff00', '#00ff80',
                         '#00ffff','#0080FF','#0000ff','#8000ff', '#ff00ff', '#ff0080',
                         '#f0f0f0','#FF8080'
                     ],
                     borderWidth: 1
                 }]
             },
             options: {
                 scales: {
                     xAxes: [{
                         ticks: {
                             stepSize: 1,
                             min: 0,
                             autoSkip: false,
                             fontSize: 14
                         }
                     }],
                     yAxes:[{
                         ticks: {
                             beginAtZero: true,
                             fontSize: 14
                         }
                     }]
                 }, title: {
                               display: true,
                               text: 'Gross Sales Year over Year',
                           }, 
                     legend: { 
                       display: false 
                     }
             }
         });
         
         var myChartline = new Chart(ctxline, {
            type: 'bar',
            data: {
              labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
              datasets: [{
                  label: "Profit",
                  type: "line",
                  borderColor: "#8e5ea2",
                  data: [51234, 25464, 30434, 28545, 35232,
                                     54223, 53241, 74342, 45821, 64421,
                                     76454, 64635],
                  fill: false
                }, {
                  label: "Gross",
                  type: "bar",
                  backgroundColor: "rgba(0,0,0,0.2)",
                  backgroundColorHover: "#3e95cd",
                  data: [45213, 23542, 31234, 43521, 36563,
                                     46313, 54632, 64523, 65423, 53432,
                                     75633, 64523],
                                      backgroundColor: [
                                 '#ff0000','#ff8000','#ffff00','#80ff00', '#00ff00', '#00ff80',
                                 '#00ffff','#0080FF','#0000ff','#8000ff', '#ff00ff', '#ff0080',
                                 '#f0f0f0','#FF8080'
                             ],
                             borderColor: [
                                 '#ff0000','#ff8000','#ffff00','#80ff00', '#00ff00', '#00ff80',
                                 '#00ffff','#0080FF','#0000ff','#8000ff', '#ff00ff', '#ff0080',
                                 '#f0f0f0','#FF8080'
                             ]
                }
              ]
            },
            options: {
              title: {
                display: true,
                text: 'Gross and Profit Comparison'
              },
              legend: { display: false }
            }
         });
         
         var myPieChart = new Chart(ctxpie,{
             type: 'doughnut',
             data: {
                   labels: ['Profit Margin',''],
                   datasets: [{
                       data: [44, 56],
                       backgroundColor: [
                          'rgba(75, 192, 192, 1)','gray'
                       ],
                       borderColor: [
                         'rgba(75, 192, 192, 1)','gray'
                       ],
                       hoverBackgroundColor: [
                         'rgba(75, 192, 192, 1)','gray'
                       ],
                       hoverBorderWidth: 5,
                       borderWidth: 1
                   }], 
                   // These labels appear in the legend and in the tooltips when hovering different arcs
                  
               }, options: {
                     title: {
                               display: true,
                               text: 'Profit Margin in %',
                           }, 
                     legend: { 
                       display: false 
                     },
                     rotation: 1 * Math.PI,
                     circumference: 1 * Math.PI
               }
         });
         
         
         
      </script>
      <!-- This is the Code for dataTable, Please copy paste -->
      <!-- This is the Code for dataTable -->
      <!-- end of your custom script -->
   </body>
</html>