		<ol class="breadcrumb">
		    <li>Teacher Management</li>
		    <li><a href="#"></a></li>
		</ol>


		<ol class="breadcrumb">
		    <li><a href="#">Administration Management</a></li>
		    <li>Student Enrollment</li>
		    <li><a href="#"></a></li>
		</ol>

         <ol class="breadcrumb">
            <li><a href="#">Human Resource Management</a></li>
            <li><a href="#">Department List</a></li>
            <li>Administration</li>
            <li><a href="#"></a></li>
         </ol>

        <ol class="breadcrumb">
            <li><a href="#">Parent Management</a></li>
            <li><a href="#">Kids List</a></li>
            <li><a href="#">View Subject</a></li>
            <li>View Grades</li>
            <li><a href="#"></a></li>
        </ol>