<!DOCTYPE html>
<html>
   <head>
      <title>Document Management System</title>
      <link rel="icon" href="../../content/images/logonatin.png">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="../../content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="../../content/dataTables/css/dataTables.bootstrap.min.css" rel="stylesheet">
      <!-- css for nav bar -->
      <link href="../../content/custom/css/style.css" rel="stylesheet">
      <link href="../../content/fontawesome/font-awesome.min.css" rel="stylesheet">
      <!-- end of css  -->
      <!-- your custom css -->
      <style type="text/css">
        .spr-label-lg {
          font-family: Helvetica;
          font-size: 15px;
          color: #000033;
        }
        .spr-label {
          font-family: Helvetica;
          font-size: 18px;
          color: #000033;
        }
      </style>
      <!-- end of your custom css -->
   </head>
   <body>
      <!-- navigation bar  -->
      <nav class="navbar navbar-findcond navbar-fixed-top" style="margin-bottom: 0;">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="col-lg-4 navbar-brand custom-brand" href="#" style="color: white;">
               <img class="schuler" src="../../content/images/logonatin.png" height="25" width="30" />
               </a>
               <a class="navbar-brand schulercolor" href="../Super Admin/super-admin-management.html">SchulerTrack</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Notifications <span class="badge">3</span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Teacher is not on class!</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Warning</span> 10 students are late in Grade v - Magalang.</a>
                        </li>
                        <li>
                           <a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Note</span> Mrs. Tanchoco teacher of Grade 3 - Matapat is not on...</a>
                        </li>
                        <li class="divider">|</li>
                         <li>
                                <a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> &nbsp&nbsp&nbspSee all notifications...</a>
                         </li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i> My Account</a></li>
                     <li><a href="#"> <i class="fa fa-cog" aria-hidden="true"></i> Setting</a></li>
                     <li><a href="#exit"> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                     </ul>
                  </li>
               </ul>
               
            </div>
         </div>
      </nav>
      <!-- end of navigation bar -->
      <div class="container" >
        <br>
        <br>
        <br>    
        <ol class="breadcrumb" style="background-color: #D9EDF7">
          <li><i class="fa fa-home fa-2x" aria-hidden="true"></i> Home</li>
        </ol>
         <!-- your code start here -->
         <!-- Please observe indention -->
         <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="Dashboard.html" >
                  <div class="hovereffect">
                      <img class="img-responsive" src="../../content/images/Super Admin/v5/dashboard.png" height="100" width="100" alt="">
                      <div class="overlay">
                         <h2>Dashboard</h2>
                          <p class="info">
                                Provides in-depth data analysis, organizes and presents information regarding all the documents.
                          </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a href="document-list-of-document.html" >
                  <div class="hovereffect">
                      <img class="img-responsive" src="../../content/images/docs.png" height="100" width="100" alt="">
                      <div class="overlay">
                         <h2>List of Documents</h2>
                          <p class="info">
                                 A list of document that are uploaded by school staffs.
                          </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <a data-toggle="modal" data-target="#schoolHandbook" >
                  <div class="hovereffect">
                      <img class="img-responsive" src="../../content/images/scan.png" height="100" width="100" alt="">
                      <div class="overlay">
                         <h2>Scan Copy Documents</h2>
                          <p class="info">
                                Users can scan, copy or save a document. 
                          </p>
                        </div>
                    </div>
                </a>
            </div>
           
      <div id="schoolHandbook" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><strong>Handbook and Announcement(s)</strong></h4>
                </div>
                <div class="modal-body">
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                          <div class="col-sm-12 col-md-12 col-lg-6">
                            <a href="document-admin.html" >
                              <div class="hovereffect">
                                  <img class="img-responsive" src="../../content/images/Super Admin/v5/administration.png" height="100" width="100" alt="">
                                  <div class="overlay">
                                     <h2>Admin</h2>
                                      <p class="info">
                                             Scan, copy or save documents from the administration department.
                                      </p>
                                    </div>
                                </div>
                            </a>
                          </div>
                          <div class="col-sm-12 col-md-12 col-lg-6">
                            <a href="document-accounting.html" >
                              <div class="hovereffect">
                                  <img class="img-responsive" src="../../content/images/Finance/accounting.png" height="100" width="100" alt="">
                                  <div class="overlay">
                                     <h2>Accounting</h2>
                                      <p class="info">
                                             Scan, copy or save documents from the accounting department.
                                      </p>
                                    </div>
                                </div>
                            </a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
      </div>
         <!-- end of your code -->
         <!-- footer here -->
         <hr />
          <footer class="navbar-fixed-bottom">
             <div class="container-fluid footer">
                <p class="pull-right powerby">&copy; 2016 - Powered by <a href="http://www.simplevia.com" class="quicktrackcolor">QuickTrack</a></p>
             </div>
          </footer>
         <!-- end foooter -->
      </div>
      <!-- plugin scripts -->
      <script src="../../content/jquery/dist/jquery.min.js"></script>
      <script src="../../content/jquery-ui/jquery-ui.min.js"></script>

       <script src="../../content/jquery/dist/jquery.min.js"></script>
      <script src="../../content/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="../../content/DataTables/js/jquery.dataTables.min.js"></script> 
      <script src="../../content/DataTables/js/datatables.bootstrap.js"></script>
      <script src="../../content/DataTables/js/dataTables.buttons.min.js"></script>
      <script src="../../content/DataTables/js/buttons.bootstrap.min.js"></script>
      <script src="../../content/DataTables/js/buttons.html5.min.js"></script>
      <script src="../../content/DataTables/js/buttons.print.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.fixedColumns.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.fixedHeader.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.keyTable.min.js"></script>
      <script src="../../content/DataTables/js/dataTables.scroller.min.js"></script>


      <script src="http://formvalidation.io/vendor/formvalidation/js/formValidation.min.js"></script>
      <script src="http://formvalidation.io/vendor/formvalidation/js/framework/bootstrap.min.js"></script>
      <!-- end of plugin scripts -->
      <!-- your custom script -->
      <!-- end of your custom script -->
   </body>
</html>