<!DOCTYPE html>
<html>
   <head>
      <title>Login</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- css for nav bar -->
      <link href="../../content/custom/css/style.css" rel="stylesheet">
      <link href="../../content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="../../content/datatables.net/css/jquery.dataTables.min.css" rel="stylesheet" />
      <link href="../../content/fontawesome/font-awesome.min.css" rel="stylesheet">
      <!-- end of css  -->
      <!-- your custom css -->
      <link href="../../content/custom/css/Home/LoginStyle.css" rel="stylesheet" />
      <!-- end of your custom css -->
   </head>
   <body>
      <!-- your code start here -->
      <!-- Please observe indention -->
      <div class="row" style="margin-top:30%;" >
         <div class="div1 col-md-6">
         </div>
         <div class="div2 col-md-6">
            <form >
               <div class="form- group col-lg-12">
                  <div class="col-lg-9">
                     <input type="text" placeholder="Enter Username" name="uname">
                     <input type="password" placeholder="Enter Password" name="psw">
                  </div>
                  <!--<button type="submit" style="border: none; outline: none;" class="btn-rounded"></button>-->
                  <div class="col-lg-3">
                      <button href="../Super Admin/super-admin-management.html">SIGN IN</button>
                  </div>
               </div>
               <div style="text-align: center;">
                  <label for="remMe"><input type="checkbox" id="remMe" checked="checked"> Remember me</label><br/>
                  <a href="forgotpassword.html"><label><u>Forgot Password?</u></label></a>
               </div>
            </form>
         </div>
      </div>
      <!-- end of your code -->
      <!-- plugin scripts -->
      <script src="../../content/jquery/dist/jquery.min.js"></script>
      <script src="../../content/jquery-ui/jquery-ui.min.js"></script>
      <script src="../../content/bootstrap/dist/js/bootstrap.min.js"></script>
      <!-- end of plugin scripts -->
      <!-- your custom script -->
      <!-- end of your custom script -->
   </body>
</html>