    .chatcontacts 
    {
      width: 100%;
    }
    
    .chatcontacts img
    {
      border-radius: 15px; 
    }

    .inputbar {
      width: 70%;
      height: 30px;
    }
    
    .popup-box
    {
        position: absolute;
        display: none;    
        height: 285px;
        background-color: rgb(237, 239, 244);
        width: 300px;
        border: 1px solid rgba(29, 49, 91, .3);
        z-index: 99;
        vertical-align: top; 

    }
    
    .popup-box .popup-head
    {
        background-color: #6d84b4;
        padding: 5px;
        color: white;
        font-weight: bold;
        font-size: 14px;
        clear: both;

    }
    
    .popup-box .popup-head .popup-head-left
    {
        float: left;
    }
    
    .popup-box .popup-head .popup-head-right
    {
        float: right;
        opacity: 0.5;
    }
    
    .popup-box .popup-head .popup-head-right a
    {
        text-decoration: none;
        color: inherit;
    }
    
    .popup-box .popup-messages
    {
        height: 100%;
        overflow-y: scroll;
    }
    

   .card-view {
        clear: both;
    }

    .card-view .title {
        display: block;
        width: 30%;
        float: left;
    }

    .card-view .value {
        display: block;
        width: 70%;
        float: right;
    }

   .dropbtn {
    background-color: #4CAF50;
    color: white;
    
    font-size: 16px;
    border: none;
    cursor: pointer;
    }


    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        border-radius: 5px;
        display: none;
        position: absolute;
        background-color: #23928c;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


    .show {display:block;}

    .modal-xl {
      width: 90%;
      max-width: 1200px;
    }

    ...
    }
    .marginbottom {
      margin-bottom: 10px;
    }
    .button {
      height: 40px; 
      width: 190px;
      margin-top: 7px;
      text-align: left;
      justify-content: center;
      font-size: 15px;
      background-color: #23928c;
      color: #FFFFFF!important;
    }
    .composebutton {
      height: 40px; 
      margin-top: 7px; 
      width: 160px;
      text-align: center;
      justify-content: center;
      font-size: 15px;
      background-color: #479C48;
      color: #FFFFFF;
    }
    .listbutton {
      height: 40px; 
      margin-top: 7px; 
      width: 75px;
      text-align: center;
      justify-content: center;
      font-size: 15px;
      color: #FFFFFF;
    }
    .panel-heading {
      font-size: 20px; 
      font-weight: 350;
    }
    .textbox {
      height: 40px; 
      margin-top: 7px;
    }
    .bordright {
      border-right: solid;
      border-width: 1px;
      border-color: #1284ad;
    }
    .bordbot {
      border-bottom: 1px solid #1284ad;
    }
    
    .panel-body {
      padding: 0px 15px!important;
    }
    .panel-body-calendar {
    padding: 0px !important;
    }
    .marginbot {
      margin-bottom: 15px;
    }
    .marbot {
      margin-bottom: 10px;
    }
    .nav-customized > li {
        width: 100%;
    }
    @media (max-width: 991px) {
      .nav-customized > li {
          width: auto;
      }
       .chatcontacts
    {
      width: 33.33%;
      margin-top: 5px;
    }
    }
    .holidayborder {
      border-right: 1px solid #1284ad;
    }
    @media (max-width: 1199px) {
      .holidayborder {
        border-right: : 1px solid #1284ad;
      }
    }
    .leftcalendar {
      position: absolute;
      top: 50%;
      z-index: 5;
      display: inline-block;
      left: 5%;
    }
    .rightcalendar {
      position: absolute;
      top: 50%;
      z-index: 5;
      display: inline-block;
      right: 5%;
    }
    .carousel-control {
      opacity: .2!important;
    }

    @media (max-width: 991) {
      .composebutton {
        width: 90px;
        text-align: center;
      }
    }

    @media (min-width: 768px) {
      .modal-xl {
          width: 90%;
          max-width: 1200px;
      }
    }
    .ui-autocomplete { 
      z-index: 5000; 
    }
    * {box-sizing: border-box;}

    .month {
        padding: 70px 25px;
        width: 100%;
        background: #1abc9c;
        text-align: center;
    }

    .month ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .month ul li {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .month .prev {
        float: left;
        padding-top: 10px;
    }

    .month .next {
        float: right;
        padding-top: 10px;
    }

    .weekdays {
        margin: 0;
        padding: 10px 0;
        background-color: #ddd;
    }

    .weekdays li {
        display: inline-block;
        width: 13.6%;
        color: #666;
        text-align: center;
    }

    .days {
        padding: 10px 0;
        background: #eee;
        margin: 0;
    }

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size:12px;
        color: #777;
    }

    .days li .active {
        padding: 5px;
        background: #1abc9c;
        color: white !important
    }

    /* Add media queries for smaller screens */
    @media screen and (max-width:720px) {
        .weekdays li, .days li {width: 13.1%;}
    }

    @media screen and (max-width: 420px) {
        .weekdays li, .days li {width: 12.5%;}
        .days li .active {padding: 2px;}
    }

    @media screen and (max-width: 290px) {
        .weekdays li, .days li {width: 12.2%;}
    }
    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }
    td, th {
      text-align: center;
    }
    #addnew {
      padding-top: 40px;
    }
    #compose {
      padding-top: 120px;
    }
    #goodmoral, #goodmoral * {
         display: none;
      }
    @media  print {
       body * {
          visibility: hidden;         }
       #goodmoral, #goodmoral * {
          visibility: visible;
          display: block;
       }
       #goodmoral {
          position: absolute;
          left: 0;
          top: 0;
       }
    }
    a.selected {
      color:white;
      z-index:100;
    }
    .messagepop {
      background-color:#FFFFFF;
      border:1px solid #1284ad;
      border-radius: 4px;
      cursor:default;
      display:none;
      margin-top: 15px;
      position: absolute;
      text-align:left;
      width:394px;
      z-index:50;
      padding: 10px;
    }
